{#
    Allows to list all available slideshows. It allows to add/edit/delete slideshow.
    Required :
    - slideshowList : list of all slideshows available (as Slideshow).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/slideshowList.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Gestion des diaporamas</h1>

    <span id="create-slideshow-button" class="button">Ajouter un diaporama</span>

    <div class="sep-20"></div>

    {# Display all slideshow found #}
    <table class="bo-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Nom</th>
                <th class="bo-table-label">Date</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody>
        {% for slideshow in slideshowList %}
            <tr{% if loop.index is even %} class="odd"{% endif %}>
                <td class="bo-table-id">{{ slideshow.id }}</td>
                <td class="bo-table-label">{{ slideshow.name }}</td>
                <td class="bo-table-label">{{ slideshow.date|date("d/m/Y") }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_slideshow_bo_edit', { 'id': slideshow.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_slideshow_bo_delete', { 'id': slideshow.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <!-- Popup to create new slideshow -->
    <div id="create-slideshow-popup" class="bpopup hide">
        <label for="slideshow-name">Nom : </label>
        <input type="text" />
        <span class="button">Créer</span>
    </div>

    <div class="sep-20"></div>

{% endblock %}
