{#
    Allows to edit quizz.
    Required :
    - quizzToEdit : FormView element based on QuizzType object (i.e. quizz to edit).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/quizzEdit.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Modification du diaporama</h1>

    <form action="{{ path('jc_quizz_bo_edit', { 'id': quizzToEdit.vars.value.id }) }}" method="post" {{ form_enctype(quizzToEdit) }}>

        <div class="field-set">

            {{ form_label(quizzToEdit.name, "Nom du quizz") }}
            {{ form_widget(quizzToEdit.name, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(quizzToEdit.name) }}

            <div class="field-set-separator"></div>

            {{ form_widget(quizzToEdit.displayResponse) }}
            {{ form_label(quizzToEdit.displayResponse, "Afficher les réponses") }}
            {{ form_errors(quizzToEdit.displayResponse) }}
            <span class="comment">Permet de visualiser sur l'image les éléments du quizz relatifs aux réponses trouvées.<br/>
            Si cette option est activée, les réponses doivents définir les coordonées permettant de localiser les éléments associés.</span>

            <div class="field-set-separator"></div>

            {{ form_label(quizzToEdit.pictureFile, "Image") }}
            {% if (quizzToEdit.vars.value.pictureUrl) %}
                <span class="comment">L'image actuellement chargée est : {{ quizzToEdit.vars.value.pictureUrl }}</span>
            {% endif %}
            {{ form_widget(quizzToEdit.pictureFile) }}
            {{ form_errors(quizzToEdit.pictureFile) }}

            {{ form_rest(quizzToEdit) }}

            {# additional fields use for responses (see JS) #}
            <input type="hidden" id="quizz-id" name="quizz-id" value="{{ quizzToEdit.vars.value.id }}" />

        </div>

        <div class="sep-20"></div>

        <input type="submit" value="Enregistrer" class="button" />

    </form>

    <div class="sep-20"></div>

    <div class="field-set">

        <span id="add-response-button" class="button">Ajouter une réponse</span>

        <div class="sep-20"></div>

        {# Allows to display all responses linked to quizz #}
        <div id="quizz-responses-list">
        </div>

        {# Allows to display form to add/edit picture using Ajax #}
        <div id="quizz-response-popup" class="bpopup hide">
        </div>

    </div>

{% endblock %}
