{#
    Allows to list response linked to specific quizz. This is used through Ajax.
    Required :
    - responseList : list of all response available (as QuizzResponse).
#}

<table class="bo-table">

    <thead>
        <tr>
            <th class="bo-table-label">Réponse</th>
            <th class="bo-table-action"><img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" /></th>
            <th class="bo-table-action"><img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" /></th>
        </tr>
    </thead>

    <tbody id="response-list">
    {% for response in responseList %}
        <tr data-id="{{ response.id }}"{% if loop.index is even %} class="odd"{% endif %}>
            <td class="bo-table-label">{{ response.title }}</td>
            <td class="bo-table-action">
                <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0"
                        alt="Modifier" title="Modifier" class="clickable edit-response" />
            </td>
            <td class="bo-table-action">
                <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0"
                        alt="Supprimer" title="Supprimer" class="clickable delete-response" />
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
