{#
    Allows to list all available quizzs. It allows to add/edit/delete quizz.
    Required :
    - quizz : quizz we want to display winner list (as Quizz).
    - winnerList : list of winner for current specific quizz (as Winner).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/winner.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Liste des vainqueurs pour le quizz '{{ quizz.name }}'</h1>

    <a class="button" href="{{ path('jc_quizz_bo_winner_clear', { 'id': quizz.id }) }}">Tout supprimer</a>

    <div class="sep-20"></div>

    {# Display all winner found #}
    <table class="bo-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Nom</th>
                <th class="bo-table-action">Détails</th>
            </tr>
        </thead>

        <tbody id="winner-list">
        {% for winner in winnerList %}
            <tr{% if loop.index is even %} class="odd"{% endif %}>
                <td class="bo-table-id">{{ winner.id }}</td>
                <td class="bo-table-label">{{ winner.name }}</td>
                <td class="bo-table-action">
                    <a href="#" class="detail">
                        <img src="{{ asset('resources/images/admin/icons/view.png') }}" width="16" height="16" border="0" alt="Détail" title="Détail" />
                        <span class="winner-mail hide">{{ winner.mail }}</span>
                        <span class="winner-comment hide">{{ winner.comment|raw }}</span>
                        <span class="winner-trick-count hide">{{ winner.trickCount }}</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

    <!-- Popup to view winner detail -->
    <div id="winner-detail-popup" class="bpopup hide">
        <strong>Mail : </strong><span class="winner-mail"></span>
        <div class="sep-10"></div>
        <strong>Commentaire : </strong><span class="winner-comment"></span>
        <div class="sep-10"></div>
        <strong>Indices utilisés : </strong><span class="winner-trick-count"></span>
    </div>

    <div class="sep-20"></div>

{% endblock %}
