{#
    Allows to edit contact.
    Required :
    - contactToEdit : Form element based on ContactType object (i.e. contact to edit).
#}

{% extends "::admin.html.twig" %}

{% block body %}

    {% form_theme contactToEdit ':forms:custom_errors.html.twig' %}

    {% if (contactToEdit.vars.value.id) %}
    <h1>Modification du contact</h1>
    {% else %}
    <h1>Ajout d'un contact</h1>
    {% endif %}

    <form action="{{ path('jc_training_session_bo_contact_edit', { 'id': contactToEdit.vars.value.id }) }}" method="post" {{ form_enctype(contactToEdit) }}>

        <div class="field-set">

            {{ form_label(contactToEdit.civility, "Civilité") }}
            {{ form_widget(contactToEdit.civility) }}
            {{ form_errors(contactToEdit.civility) }}

            <div class="field-set-separator"></div>

            {{ form_label(contactToEdit.lastname, "Nom") }}
            {{ form_widget(contactToEdit.lastname, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(contactToEdit.lastname) }}

            <div class="field-set-separator"></div>

            {{ form_label(contactToEdit.firstname, "Prénom") }}
            {{ form_widget(contactToEdit.firstname, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(contactToEdit.firstname) }}

            <div class="field-set-separator"></div>

            {{ form_label(contactToEdit.phone, "Téléphone") }}
            {{ form_widget(contactToEdit.phone, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(contactToEdit.phone) }}

            <div class="field-set-separator"></div>

            {{ form_label(contactToEdit.mobile, "Mobile") }}
            {{ form_widget(contactToEdit.mobile, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(contactToEdit.mobile) }}

            <div class="field-set-separator"></div>

            {{ form_label(contactToEdit.mail, "Mail") }}
            {{ form_widget(contactToEdit.mail, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(contactToEdit.mail) }}

            {{ form_rest(contactToEdit) }}

        </div>

        <div class="sep-20"></div>

        <input type="submit" class="small-button" value="Enregistrer" />

    </form>

    <div class="sep-20"></div>

{% endblock %}
