{#
    Allows to list all existing training session. It allows to add/edit/delete training session.
    Required :
    - trainingSessionList : list of all training session available (as TrainingSession).
#}

{% extends "::admin.html.twig" %}

{% block body %}

    <h1>Gestion des stages</h1>

    <div class="right">
        <a href="{{ path('jc_training_session_bo_location_list') }}" class="button">Localisation</a>
        <a href="{{ path('jc_training_session_bo_contact_list') }}" class="button">Contact</a>
    </div>

    <div class="left">
        <a class="button" href="{{ path('jc_training_session_bo_session_edit') }}">Ajouter un stage</a>
    </div>

    <div class="clear"></div>
    <div class="sep-20"></div>

    {# Display all training session found #}
    <table class="bo-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Libellé</th>
                <th class="bo-table-label">Date</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody>
        {% for trainingSession in trainingSessionList %}
            <tr{% if loop.index is even %} class="odd"{% endif %}>
                <td class="bo-table-id">{{ trainingSession.id }}</td>
                <td class="bo-table-label">{{ trainingSession.title }}</td>
                <td class="bo-table-label">{{ trainingSession.date|date('d/m/Y') }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_training_session_bo_session_edit', { 'id': trainingSession.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_training_session_bo_session_delete', { 'id': trainingSession.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

{% endblock %}
    