{#
    Display quizz.
    Required :
    - quizz : quizz to display
#}

{% extends "::master.html.twig" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/quizz.css') }}" />
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.zoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/quizz.js') }}"></script>
{% endblock %}

{% block body %}

    {% if quizz is defined %}

        <div id="quizz">
            <img src="{{ asset(quizz.pictureUrl) }}" alt="" width="940" height="620" />
<div id="quizz-picture-1" class="quizz-picture quizz-picture-size-4" style="left:618px;top:220px;"></div>
<div id="quizz-picture-2" class="quizz-picture quizz-picture-size-2" style="left:737px;top:113px;"></div>
<div id="quizz-picture-3" class="quizz-picture quizz-picture-size-2" style="left:362px;top:323px;"></div>
<div id="quizz-picture-4" class="quizz-picture quizz-picture-size-2" style="left:072px;top:314px;"></div>
<div id="quizz-picture-5" class="quizz-picture quizz-picture-size-3" style="left:030px;top:080px;"></div>
<div id="quizz-picture-6" class="quizz-picture quizz-picture-size-4" style="left:312px;top:168px;"></div>
<div id="quizz-picture-7" class="quizz-picture quizz-picture-size-2" style="left:277px;top:133px;"></div>
<div id="quizz-picture-8" class="quizz-picture quizz-picture-size-2" style="left:115px;top:456px;"></div>
<div id="quizz-picture-9" class="quizz-picture quizz-picture-size-3" style="left:224px;top:206px;"></div>
<div id="quizz-picture-10" class="quizz-picture quizz-picture-size-3" style="left:675px;top:513px;"></div>
<div id="quizz-picture-11" class="quizz-picture quizz-picture-size-2" style="left:794px;top:459px;"></div>
<div id="quizz-picture-12" class="quizz-picture quizz-picture-size-3" style="left:209px;top:368px;"></div>
<div id="quizz-picture-13" class="quizz-picture quizz-picture-size-3" style="left:864px;top:429px;"></div>
<div id="quizz-picture-14" class="quizz-picture quizz-picture-size-3" style="left:547px;top:129px;"></div>
<div id="quizz-picture-15" class="quizz-picture quizz-picture-size-3" style="left:285px;top:256px;"></div>
<div id="quizz-picture-16" class="quizz-picture quizz-picture-size-3" style="left:579px;top:368px;"></div>
<div id="quizz-picture-17" class="quizz-picture quizz-picture-size-3" style="left:052px;top:548px;"></div>
<div id="quizz-picture-18" class="quizz-picture quizz-picture-size-2" style="left:387px;top:154px;"></div>
<div id="quizz-picture-19" class="quizz-picture quizz-picture-size-2" style="left:089px;top:479px;"></div>
<div id="quizz-picture-20" class="quizz-picture quizz-picture-size-4" style="left:348px;top:392px;"></div>
<div id="quizz-picture-21" class="quizz-picture quizz-picture-size-2" style="left:751px;top:582px;"></div>
<div id="quizz-picture-22" class="quizz-picture quizz-picture-size-3" style="left:845px;top:192px;"></div>
<div id="quizz-picture-23" class="quizz-picture quizz-picture-size-2" style="left:585px;top:455px;"></div>
<div id="quizz-picture-24" class="quizz-picture quizz-picture-size-3" style="left:589px;top:259px;"></div>
<div id="quizz-picture-25" class="quizz-picture quizz-picture-size-2" style="left:136px;top:292px;"></div>
<div id="quizz-picture-26" class="quizz-picture quizz-picture-size-2" style="left:174px;top:373px;"></div>
<div id="quizz-picture-27" class="quizz-picture quizz-picture-size-3" style="left:022px;top:473px;"></div>
<div id="quizz-picture-28" class="quizz-picture quizz-picture-size-3" style="left:300px;top:119px;"></div>
<div id="quizz-picture-29" class="quizz-picture quizz-picture-size-3" style="left:773px;top:162px;"></div>
<div id="quizz-picture-30" class="quizz-picture quizz-picture-size-3" style="left:529px;top:258px;"></div>
<div id="quizz-picture-31" class="quizz-picture quizz-picture-size-2" style="left:755px;top:448px;"></div>
<div id="quizz-picture-32" class="quizz-picture quizz-picture-size-2" style="left:600px;top:466px;"></div>
<div id="quizz-picture-33" class="quizz-picture quizz-picture-size-3" style="left:550px;top:189px;"></div>
<div id="quizz-picture-34" class="quizz-picture quizz-picture-size-3" style="left:827px;top:362px;"></div>
<div id="quizz-picture-35" class="quizz-picture quizz-picture-size-3" style="left:078px;top:230px;"></div>
<div id="quizz-picture-36" class="quizz-picture quizz-picture-size-3" style="left:232px;top:288px;"></div>
<div id="quizz-picture-37" class="quizz-picture quizz-picture-size-3" style="left:150px;top:106px;"></div>
<div id="quizz-picture-38" class="quizz-picture quizz-picture-size-3" style="left:856px;top:337px;"></div>
<div id="quizz-picture-39" class="quizz-picture quizz-picture-size-2" style="left:119px;top:330px;"></div>
<div id="quizz-picture-40" class="quizz-picture quizz-picture-size-3" style="left:007px;top:206px;"></div>
<div id="quizz-picture-41" class="quizz-picture quizz-picture-size-3" style="left:490px;top:279px;"></div>
<div id="quizz-picture-42" class="quizz-picture quizz-picture-size-2" style="left:139px;top:351px;"></div>
<div id="quizz-picture-43" class="quizz-picture quizz-picture-size-3" style="left:167px;top:189px;"></div>
<div id="quizz-picture-44" class="quizz-picture quizz-picture-size-3" style="left:030px;top:320px;"></div>
<div id="quizz-picture-45" class="quizz-picture quizz-picture-size-3" style="left:840px;top:087px;"></div>
<div id="quizz-picture-46" class="quizz-picture quizz-picture-size-2" style="left:892px;top:290px;"></div>
<div id="quizz-picture-47" class="quizz-picture quizz-picture-size-3" style="left:682px;top:216px;"></div>
<div id="quizz-picture-48" class="quizz-picture quizz-picture-size-3" style="left:816px;top:032px;"></div>
<div id="quizz-picture-49" class="quizz-picture quizz-picture-size-4" style="left:198px;top:442px;"></div>
<div id="quizz-picture-50" class="quizz-picture quizz-picture-size-3" style="left:747px;top:362px;"></div>
<div id="quizz-picture-51" class="quizz-picture quizz-picture-size-2" style="left:545px;top:395px;"></div>
<div id="quizz-picture-52" class="quizz-picture quizz-picture-size-3" style="left:614px;top:479px;"></div>
<div id="quizz-picture-53" class="quizz-picture quizz-picture-size-2" style="left:134px;top:326px;"></div>
<div id="quizz-picture-54" class="quizz-picture quizz-picture-size-3" style="left:074px;top:148px;"></div>
<div id="quizz-picture-55" class="quizz-picture quizz-picture-size-2" style="left:121px;top:406px;"></div>
<div id="quizz-picture-56" class="quizz-picture quizz-picture-size-3" style="left:549px;top:549px;"></div>
<div id="quizz-picture-57" class="quizz-picture quizz-picture-size-2" style="left:482px;top:303px;"></div>
<div id="quizz-picture-58" class="quizz-picture quizz-picture-size-4" style="left:358px;top:323px;"></div>
<div id="quizz-picture-59" class="quizz-picture quizz-picture-size-3" style="left:165px;top:260px;"></div>
<div id="quizz-picture-60" class="quizz-picture quizz-picture-size-2" style="left:337px;top:355px;"></div>
<div id="quizz-picture-61" class="quizz-picture quizz-picture-size-2" style="left:638px;top:454px;"></div>
<div id="quizz-picture-62" class="quizz-picture quizz-picture-size-3" style="left:606px;top:079px;"></div>
<div id="quizz-picture-63" class="quizz-picture quizz-picture-size-2" style="left:-08px;top:529px;"></div>
<div id="quizz-picture-64" class="quizz-picture quizz-picture-size-3" style="left:760px;top:511px;"></div>
<div id="quizz-picture-65" class="quizz-picture quizz-picture-size-3" style="left:052px;top:356px;"></div>
<div id="quizz-picture-66" class="quizz-picture quizz-picture-size-2" style="left:512px;top:109px;"></div>
        </div>

        <div class="sep-20"></div>

        <div id="quizz-answer" class="center">
            <input type="text" id="response" name="response" />
            <input type="hidden" id="quizzId" name="quizzId" value="{{ quizz.id }}" />
            <input type="hidden" id="quizzCount" name="quizzCount" value="{{ quizz.responses|length }}" />
            <input id="answer" name="answer" type="button" class="button" value="Envoyer" />
            <div class="sep-20"></div>
        </div>

        <ul id="response-list">
<li id="quizz-movie-1">2001 l'odyssee de l'espace</li>
<li id="quizz-movie-2">28 jours plus tard</li>
<li id="quizz-movie-3">300</li>
<li id="quizz-movie-4">Aladdin</li>
<li id="quizz-movie-5">Aliens</li>
<li id="quizz-movie-6">Avatar</li>
<li id="quizz-movie-7">Batman</li>
<li id="quizz-movie-8">Blade runner</li>
<li id="quizz-movie-9">Brice de Nice</li>
<li id="quizz-movie-10">Captain America</li>
<li id="quizz-movie-11">Ca est revenu</li>
<li id="quizz-movie-12">Citizen Kane</li>
<li id="quizz-movie-13">Conan</li>
<li id="quizz-movie-14">Die Hard</li>
<li id="quizz-movie-15">Dogma</li>
<li id="quizz-movie-16">Evolution</li>
<li id="quizz-movie-17">Forrest Gump</li>
<li id="quizz-movie-18">Gladiator</li>
<li id="quizz-movie-19">Harry Potter</li>
<li id="quizz-movie-20">Hunger games</li>
<li id="quizz-movie-21">Il etait une fois dans l'ouest</li>
<li id="quizz-movie-22">Inception</li>
<li id="quizz-movie-23">Inspecteur Harry</li>
<li id="quizz-movie-24">Interstellar</li>
<li id="quizz-movie-25">Iron man</li>
<li id="quizz-movie-26">James Bond</li>
<li id="quizz-movie-27">Kingsman</li>
<li id="quizz-movie-28">La fievre du samedi soir</li>
<li id="quizz-movie-29">La nuit au musee</li>
<li id="quizz-movie-30">La planete des singes</li>
<li id="quizz-movie-31">La reine des neiges</li>
<li id="quizz-movie-32">Lego movie</li>
<li id="quizz-movie-33">Les dents de la mer</li>
<li id="quizz-movie-34">Les evades</li>
<li id="quizz-movie-35">Les gardiens de la galaxie</li>
<li id="quizz-movie-36">Les nouveaux heros</li>
<li id="quizz-movie-37">Le cinquieme element</li>
<li id="quizz-movie-38">Le seigneur des anneaux</li>
<li id="quizz-movie-39">L'age de glace</li>
<li id="quizz-movie-40">Mars attack</li>
<li id="quizz-movie-41">Massacre a la tronconneuse</li>
<li id="quizz-movie-42">Matrix</li>
<li id="quizz-movie-43">Moon</li>
<li id="quizz-movie-44">Oldboy</li>
<li id="quizz-movie-45">Operation dragon</li>
<li id="quizz-movie-46">Pirates des Caraibes</li>
<li id="quizz-movie-47">Predator</li>
<li id="quizz-movie-48">Rambo</li>
<li id="quizz-movie-49">Retour vers le futur</li>
<li id="quizz-movie-50">Robin des bois</li>
<li id="quizz-movie-51">Rocky</li>
<li id="quizz-movie-52">Seul au monde</li>
<li id="quizz-movie-53">Shrek</li>
<li id="quizz-movie-54">SOS fantomes</li>
<li id="quizz-movie-55">Star trek</li>
<li id="quizz-movie-56">Star wars</li>
<li id="quizz-movie-57">Ted</li>
<li id="quizz-movie-58">Terminator</li>
<li id="quizz-movie-59">The island</li>
<li id="quizz-movie-60">Thor</li>
<li id="quizz-movie-61">Transformers</li>
<li id="quizz-movie-62">Usual suspect</li>
<li id="quizz-movie-63">Vendetta</li>
<li id="quizz-movie-64">Vice versa</li>
<li id="quizz-movie-65">Watchmen</li>
<li id="quizz-movie-66">X-Men</li>
            <div class="clear"></div>
        </ul>

        <div id="quizz-popup" class="hide"></div>

    {% else %}
        <p>Aucun quizz à afficher</p>
    {% endif %}

{% endblock %}
