{#
    Display quizz.
    Required :
    - quizz : quizz to display
#}

{% extends "::master.html.twig" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/quizz.css') }}" />
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.bpopup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.zoom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/quizz.js') }}"></script>
{% endblock %}

{% block body %}

    {% if quizz is defined %}

        <div class="sep-20"></div>
        <div id="quizz-answer">
            <label for="response" class="f-i15">Saisissez une réponse : </label>
            <input type="text" id="response" name="response" />
            <input type="hidden" id="quizzId" name="quizzId" value="{{ quizz.id }}" />
            <input type="hidden" id="quizzCount" name="quizzCount" value="{{ quizz.responses|length }}" />
            <input id="answer" name="answer" type="button" class="button" value="Envoyer" />
        </div>
        <div id="quizz-info">
            <label class="f-n1aa5">Réponses trouvées : </label><span id="response-count">0</span> / <span>{{ quizz.responses|length }}</span>
        </div>
        <div class="clear"></div>
        <div class="sep-20"></div>

        <div id="quizz">
            <img id="quizz-picture" src="{{ asset(quizz.pictureUrl) }}" alt="" />
        </div>

        <ul id="response-list">
            <div class="clear"></div>
        </ul>

        <div class="clear"></div>
        <div class="sep-20"></div>

        <div id="quizz-popup" class="popup hide"></div>

    {% else %}
        <p>Aucun quizz à afficher</p>
    {% endif %}

{% endblock %}
