{#
    Allows to display file manager for website. It allows to add/remove file or folder.
    NOTE : Root path is defined in configuration through parameter 'jc_user_file.root_path'.
    Required :
    - currentPath : currentPath relative to root path we want to display (as String).
#}

{% extends "::admin.html.twig" %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/userfile.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/userFileExplorer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('resources/scripts/userFile.js') }}"></script>

{% endblock %}

{% block body %}

    <h1>Gestion de la médiathèque</h1>

    <div class="sep-15"></div>

    <div class="field-set">

        {# Form to upload file #}
        <form action="{{ path('jc_user_file_bo_upload') }}" method="post" enctype="multipart/form-data">

            <input id="filePath" name="filePath" type="hidden" value="{{ currentPath }}" />
            Télécharger un fichier dans le dossier courant : <span class="full-path-info">{{ (currentPath|length == 0) ? '/' : currentPath }}</span>
            <div class="sep-5"></div>

            <input id="file" name="file" type="file" />
            <input type="submit" class="small-button" value="Télécharger" />

        </form>

        {# Form to add folder #}
        <form action="{{ path('jc_user_file_bo_folder') }}" method="post">

            <input id="folderPath" name="folderPath" type="hidden" value="{{ currentPath }}" />
            Créer un sous-dossier dans le dossier courant : <span class="full-path-info">{{ (currentPath|length == 0) ? '/' : currentPath }}</span>
            <div class="sep-5"></div>

            Entrer le nom du sous-dossier : <input type="text" name="folderName" id="folderName">
            <input type="submit" class="small-button" value="Créer" />

        </form>

    </div>

    <div class="sep-15"></div>

    <div class="field-set">
        <div id="user-file-explorer" class="file-manager">
        </div>
    </div>

{% endblock %}
