{#
    Allows to edit slideshow.
    Required :
    - slideshowToEdit : FormView element based on SlideshowType object (i.e. slideshow to edit).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#picture-list').sortable({
                update: function(event, ui) {
                    $("#ordered-picture-list").val($('#picture-list').sortable('serialize'));
                }
            });
            $('#picture-list').disableSelection();
            $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
{% endblock %}

{% block body %}

    {% if (slideshowToEdit.vars.value.id) %}
    <h1>Modification d'un diaporama</h1>
    {% else %}
    <h1>Ajout d'un diaporama</h1>
    {% endif %}

    <form action="{{ path('jc_slideshow_bo_edit', { 'id': slideshowToEdit.vars.value.id }) }}" method="post" {{ form_enctype(slideshowToEdit) }}>

        <div class="field-set">

            {{ form_label(slideshowToEdit.name, "Nom du diaporama") }}
            {{ form_widget(slideshowToEdit.name, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
            {{ form_errors(slideshowToEdit.name) }}

            <div class="field-set-separator"></div>

            {{ form_label(slideshowToEdit.description, "Description") }}
            {{ form_widget(slideshowToEdit.description) }}
            {{ form_errors(slideshowToEdit.description) }}

            <div class="field-set-separator"></div>

            {{ form_label(slideshowToEdit.date, "Date du diaporama") }}
            {{ form_widget(slideshowToEdit.date, { 'attr': {'class': 'datepicker'} }) }}
            {{ form_errors(slideshowToEdit.date) }}

            <div class="field-set-separator"></div>

            {{ form_label(slideshowToEdit.pictureFile, "Image principale") }}
            {% if (slideshowToEdit.vars.value.pictureUrl) %}
                <span class="comment">L'image actuellement chargée est : {{ slideshowToEdit.vars.value.pictureUrl }}</span>
            {% endif %}
            {{ form_widget(slideshowToEdit.pictureFile) }}
            {{ form_errors(slideshowToEdit.pictureFile) }}

            {{ form_rest(slideshowToEdit) }}

        </div>

        <div class="sep-20"></div>

        {# For existing slideshow => we can also define pictures with specific order... #}
        {% if (slideshowToEdit.vars.value.id) %}

            <div class="field-set">

                <a class="button" href="{{ path('jc_slideshow_bo_picture_edit', { 'slideshowId': slideshowToEdit.vars.value.id }) }}">Ajouter une image</a>

                <div class="sep-20"></div>

                {# Display all pictures linked to slideshow #}
                <table class="bo-table bo-sortable-table">

                    <thead>
                        <tr>
                            <th class="bo-table-id">ID</th>
                            <th class="bo-table-label">Image</th>
                            <th class="bo-table-action"><img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" /></th>
                            <th class="bo-table-action"><img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" /></th>
                        </tr>
                    </thead>

                    <tbody id="picture-list">
                    {% for picture in slideshowToEdit.vars.value.pictures %}
                        <tr id="picture-list-{{ picture.id }}">
                            <td class="bo-table-id">{{ picture.id }}</td>
                            <td class="bo-table-label">{{ picture.name }}</td>
                            <td class="bo-table-action">
                                <a href="{{ path('jc_slideshow_bo_picture_edit', { 'slideshowId': slideshowToEdit.vars.value.id, 'pictureId': picture.id }) }}" >
                                    <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                                </a>
                            </td>
                            <td class="bo-table-action">
                                <a href="{{ path('jc_slideshow_bo_picture_delete', { 'slideshowId': slideshowToEdit.vars.value.id, 'pictureId': picture.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                                    <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

                {# Hidden field to save picture order #}
                <input id="ordered-picture-list" name="ordered-picture-list" type="hidden" value="" />

            </div>

            <div class="sep-20"></div>

        {% endif %}

        <input type="submit" class="button" value="Enregistrer" />

    </form>

    <div class="sep-20"></div>

{% endblock %}
