{#
    Allows to list all available slideshows. It allows to add/edit/delete slideshow.
    Required :
    - slideshowList : list of all slideshows available (as Slideshow).
#}

{% extends "::admin.html.twig" %}

{% block body %}

    <h1>Gestion des diaporama</h1>

    <a class="button" href="{{ path('jc_slideshow_bo_edit') }}">Ajouter un diaporama</a>

    <div class="sep-15"></div>

    {# Display all slideshow found #}
    <table class="bo-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Nom</th>
                <th class="bo-table-label">Date</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody>
        {% for slideshow in slideshowList %}
            <tr{% if loop.index is even %} class="odd"{% endif %}>
                <td class="bo-table-id">{{ slideshow.id }}</td>
                <td class="bo-table-label">{{ slideshow.name }}</td>
                <td class="bo-table-label">{{ slideshow.date|date("d/m/Y") }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_slideshow_bo_edit', { 'id': slideshow.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_slideshow_bo_delete', { 'id': slideshow.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

{% endblock %}
