{#
    Allows to list all menu items available. It allows to add/edit/delete menu.
    Required :
    - menuList : list of all menus available (as Menu).
#}

{% extends "::admin.html.twig" %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/lib/jquery-ui-1.10.4.custom.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu-list").sortable({
                update: function(event, ui) {
                    $("#ordered-menu-list").val($('#menu-list').sortable('serialize'));
                }
            });
            $("#menu-list").disableSelection();
        });
    </script>

{% endblock %}

{% block body %}

    <h1>Gestion des menus</h1>

    <a class="button" href="{{ path('jc_menu_bo_edit') }}">Ajouter un menu</a>

    <div class="sep-20"></div>

    {# Display all menu found #}
    <table class="bo-table bo-sortable-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Libellé</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody id="menu-list">
        {% for menu in menuList %}
            <tr id="menu-list-{{ menu.id }}">
                <td class="bo-table-id">{{ menu.id }}</td>
                <td class="bo-table-label">{{ menu.name }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_menu_bo_edit', { 'id': menu.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_menu_bo_delete', { 'id': menu.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

    {# Form to save menu order #}
    <form action="{{ path('jc_menu_bo_list') }}" method="post">
        <input id="ordered-menu-list" name="ordered-menu-list" type="hidden" value="" />
        <input type="submit" value="Enregistrer" class="button" />
    </form>

{% endblock %}
