{#
    Allows to list all menu items available. It allows to add/edit/delete menu.
    Required :
    - menuList : list of all menus available (as Menu).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/menuBO.css') }}" />
    <script type="text/javascript" src="{{ asset('resources/scripts/menuBO.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Gestion des menus</h1>

    <a class="button" href="{{ path('jc_menu_bo_edit') }}">Ajouter un menu</a>

    <div class="sep-20"></div>

    {# Display all menu found #}
    <table class="bo-table bo-sortable-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Libellé</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody id="menu-list">
        {% for menu in menuList %}
            <tr id="menu-list-{{ menu.id }}">
                <td class="bo-table-id">{{ menu.id }}</td>
                <td class="bo-table-label">{{ menu.name }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_menu_bo_edit', { 'id': menu.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_menu_bo_delete', { 'id': menu.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

    <span class="comment">
        Ajustement manuel de la taille des éléments du menu pour le front office.<br/>
        Note : double cliquez sur un menu pour visualiser l'état actif.
    </span>
    <div id="bo-preview-menu">
        <ul>
        {% for menu in menuList %}
            <li style="width: {{ menu.width }}px;" data-id="{{ menu.id }}">{{ menu.name }}</li>
        {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="sep-20"></div>

    {# Form to save menu order #}
    <form action="{{ path('jc_menu_bo_list') }}" method="post">
        <input id="ordered-menu-list" name="ordered-menu-list" type="hidden" value="" />
        <input id="width-menu-list" name="width-menu-list" type="hidden" value="" />
        <input type="submit" value="Enregistrer" class="button" />
    </form>

{% endblock %}
