{#
    Allows to edit skin.
    Required :
    - skinToEdit : FormView element based on SkinType object (i.e. skin to edit).
#}

{% extends "::admin.html.twig" %}

{% block body %}

    {% if (skinToEdit.vars.value.id) %}
    <h1>Modification du skin</h1>
    {% else %}
    <h1>Ajout d'un skin</h1>
    {% endif %}

    <form action="{{ path('jc_skin_bo_edit', { 'id': skinToEdit.vars.value.id }) }}" method="post" {{ form_enctype(skinToEdit) }}>

        <div class="field-set">

            {{ form_label(skinToEdit.name, "Nom du skin") }}
            {{ form_widget(skinToEdit.name, { 'attr': {'class': 'field-M'}, 'max_length' : '255' }) }}
            {{ form_errors(skinToEdit.name) }}

            <div class="field-set-separator"></div>

            {{ form_label(skinToEdit.cssFile, "Fichier CSS") }}
            {{ form_widget(skinToEdit.cssFile, { 'attr': {'class': 'field-M'} }) }}
            {{ form_errors(skinToEdit.cssFile) }}

            <div class="hide">{{ form_widget(skinToEdit.activ) }}</div>

            {{ form_rest(skinToEdit) }}

        </div>

        <div class="sep-20"></div>

        <input type="submit" value="Enregistrer" class="button" />

    </form>

{% endblock %}
