
{% extends "::master.html.twig" %}

{% block body %}

    <h1>Complex List Form</h1>

    <h2>{{ message }}</h2>

    <form action="{{ path('jc_test_form_complex_list') }}" method="post" {{ form_enctype(myForm) }}>

        {{ form_label(myForm.title, "Titre") }}
        {{ form_widget(myForm.title) }}
        {{ form_errors(myForm.title) }}

        <div class="sep-20"></div>

        {{ form_label(myForm.elementList, "Liste d'éléments simples") }}
        <div class="sep-10"></div>
        {% for element in myForm.elementList %}
            {{ form_widget(element) }}
            {{ form_errors(element) }}
            <div class="sep-10"></div>
        {% endfor %}
        
        {{ form_rest(myForm) }}

        <div class="sep-20"></div>

        <input type="submit" value="Enregistrer" />

    </form>

{% endblock %}

{#
V1
        {{ form_label(myForm.elementList, "Liste d'éléments simples") }}
        {{ form_widget(myForm.elementList) }}
        {{ form_errors(myForm.elementList) }}

V2
        {{ form_label(myForm.elementList, "Liste d'éléments simples") }}
        {% for element in myForm.elementList %}
            {{ form_widget(element) }}
            {{ form_errors(element) }}
        {% endfor %}

#}