{#
    Allows to list all news available. It allows to add/edit/delete news.
    Required :
    - newsList : list of all news available (as News).
#}

{% extends "::admin.html.twig" %}

{% block header %}

    <script type="text/javascript">

        $(document).ready(function() {
            $("#news-list").sortable({
                update: function(event, ui) {
                    $("#ordered-news-list").val($('#news-list').sortable('serialize'));
                }
            });
            $("#news-list").disableSelection();
        });

    </script>

{% endblock %}

{% block body %}

    <h1>Gestion des actualités</h1>

    <a class="button" href="{{ path('jc_news_bo_edit') }}">Ajouter une actualité</a>

    <div class="sep-15"></div>

    {# Display all news found #}
    <table class="bo-table bo-sortable-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Titre</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody id="news-list">
        {% for news in newsList %}
            <tr id="news-list-{{ news.id }}">
                <td class="bo-table-id">{{ news.id }}</td>
                <td class="bo-table-label {% if not news.published %}disabled{% endif %}">{{ news.title }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_news_bo_edit', { 'id': news.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_news_bo_delete', { 'id': news.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

    {# Form to save news order #}
    <form action="{{ path('jc_news_bo_list') }}" method="post">
        <input id="ordered-news-list" name="ordered-news-list" type="hidden" value="" />
        <input type="submit" value="Enregistrer" class="button" />
    </form>

{% endblock %}
