{#
    Allows to edit static text for website.
    Required :
    - textToEdit : Form element based on StaticTextType object (i.e. text to edit).
      WARNING : textToEdit can be null in case of edition by code (unmatching code) => no form will be displayed...
    - editByCode : TRUE if user edit text using code (specific display), FALSE either (edition by ID).
    - textList : list of all text available (as StaticText) => .
#}

{% extends "::admin.html.twig" %}

{% block header %}

    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/lib/jquery.cleditor.css') }}" />

    <script type="text/javascript" src="{{ asset('resources/scripts/lib/jquery.cleditor.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#static_text_content").cleditor(global.cleditorConfig);
        });
    </script>

{% endblock %}

{% block body %}

    {% if (editByCode) %}
        <div class="sep-20"></div>
        <div class="bo-tab-header">
            {% for text in textList %}
                {% set isActiv = (textToEdit is not null) and (textToEdit.vars.value.code == text.code) ? 1 : 0 %}
                <a href="{{ path('jc_static_text_bo_config', { 'code' : text.code }) }}" class="{{ isActiv ? 'activ' : '' }}">{{ text.title }}</a>
            {% endfor %}
        </div>
        <div class="sep-20"></div>
    {% endif %}

    {% if (textToEdit is not null) %}

        {% if (textToEdit.vars.value.id) %}
        <h1>Modification du texte</h1>
        {% else %}
        <h1>Ajout d'un texte</h1>
        {% endif %}

        {% set pathAction = (editByCode) ? path('jc_static_text_bo_config', { 'code': textToEdit.vars.value.code }) : path('jc_static_text_bo_edit', { 'id': textToEdit.vars.value.id }) %}

        <form action="{{ pathAction }}" method="post" {{ form_enctype(textToEdit) }}>

            <div class="field-set">

                <div class="{% if (editByCode) %}hide{% endif %}">

                    {{ form_label(textToEdit.title, "Titre") }}
                    {{ form_widget(textToEdit.title, { 'attr': {'class': 'field-L'}, 'max_length' : '255' }) }}
                    {{ form_errors(textToEdit.title) }}
                    <div class="sep-10"></div>

                    {{ form_label(textToEdit.code, "Code") }}
                    {{ form_widget(textToEdit.code, { 'attr': {'class': 'field-L'} }) }}
                    {{ form_errors(textToEdit.code) }}
                    <div class="sep-10"></div>

                    {{ form_widget(textToEdit.published) }}
                    {{ form_label(textToEdit.published, "Publication") }}
                    {{ form_errors(textToEdit.published) }}

                    <div class="field-set-separator"></div>

                </div>

                {{ form_label(textToEdit.content, "Contenu") }}
                {{ form_widget(textToEdit.content) }}
                {{ form_errors(textToEdit.content) }}

                {{ form_rest(textToEdit) }}

            </div>

            <div class="sep-20"></div>

            <input type="submit" class="button" value="Enregistrer" />

        </form>

    {% endif %}

{% endblock %}
