{#
    Allows to list all news static text available for website. It allows to add/edit/delete text.
    Required :
    - textList : list of all text available (as StaticText).
#}

{% extends "::admin.html.twig" %}

{% block header %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#text-list").sortable({
            update: function(event, ui) {
                $("#ordered-text-list").val($('#text-list').sortable('serialize'));
            }
        });
        $("#text-list").disableSelection();
    });
    </script>
{% endblock %}

{% block body %}

    <h1>Gestion des textes statiques</h1>

    <a class="button" href="{{ path('jc_static_text_bo_edit') }}">Ajouter un texte</a>

    <div class="sep-20"></div>

    {# Display all text found #}
    <table class="bo-table bo-sortable-table">

        <thead>
            <tr>
                <th class="bo-table-id">ID</th>
                <th class="bo-table-label">Titre</th>
                <th class="bo-table-action">Modifier</th>
                <th class="bo-table-action">Supprimer</th>
            </tr>
        </thead>

        <tbody id="text-list">
        {% for text in textList %}
            <tr id="text-list-{{ text.id }}">
                <td class="bo-table-id">{{ text.id }}</td>
                <td class="bo-table-label {% if not text.published %}disabled{% endif %}">{{ text.title }}</td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_static_text_bo_edit', { 'id': text.id }) }}" >
                        <img src="{{ asset('resources/images/admin/icons/edit.png') }}" width="16" height="16" border="0" alt="Modifier" title="Modifier" />
                    </a>
                </td>
                <td class="bo-table-action">
                    <a href="{{ path('jc_static_text_bo_delete', { 'id': text.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <img src="{{ asset('resources/images/admin/icons/delete.png') }}" width="16" height="16" border="0" alt="Supprimer" title="Supprimer" />
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="sep-20"></div>

    {# Form to save slideshow order #}
    <form action="{{ path('jc_static_text_bo_list') }}" method="post">
        <input id="ordered-text-list" name="ordered-text-list" type="hidden" value="" />
        <input type="submit" value="Enregistrer" class="button" />
    </form>

{% endblock %}
